.down {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.down_price {
    font-weight: 700;
    color: rgb(15, 231, 119);
    font-size: 17px;
}

.top {
    height: 65px;
    overflow-y: scroll;
    margin-top: 10px;
}

.top::-webkit-scrollbar {
    display: none;
}

.card {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.51);
    
}

.active {
    color: rgb(220, 220, 25);
}

.TitleContainer {
    display: flex;
}
.linked {
    color: rgb(92, 86, 86);
    font-size: large;
    font-weight: 800;
}

.linked:hover {
    text-decoration: none;
}